a {
  color: green;
}

.odd i {
  text-decoration: underline;
}

.line {
  text-decoration: underline;
}

.line {
  color: gray;
}

b {
  color: purple;
}

i {
  color: red;
}

a[href^="http://"]
{
  color: red;
}

.odd .line {
  color: blue;
}

.even b {
  text-decoration: underline;
}

a[href*='.com'] {
  color: black;
  text-decoration: underline;
}
