p {
  color: gray;
}

h3 {
  text-shadow: 0 3px 5px green;
  text-decoration: underline brown dotted;
}

b {
  color: yellow;
}

i {
  color: blue;
  font-weight: bold;
  text-decoration: line-through;
}
