/* add code here */

/* add code here */

h1 {
  color: green !important;
  text-decoration: underline green;
  padding: 5px;
}

.header h1 {
  color: blue;
}

#container p {
  font-size: 25px;
  font-style: italic;
  color: purple;
}

.para {
  text-decoration: none;
  color: blueviolet;
}
